.addHolidays {
  border: 1px solid gray;
  margin: 20px;
}
.container {
  margin-bottom: 20px;
  width: 20%;
}
.info {
  margin-top: 20px;
}
.upcoming {
  background-color: #fff3cd !important;
}
.present {
  background-color: #d4edda !important;
}
.past {
  background-color: #f8d7da !important;
}
.fa {
  margin-left: 5px;
  font-size: 20px;
}
